# https://docs.fedoraproject.org/en-US/Fedora/26/html/Installation_Guide/chap-kickstart-installations.html#sect-kickstart-howto
# https://docs.fedoraproject.org/en-US/Fedora/26/html/Installation_Guide/part-technical-appendixes.html
# https://pykickstart.readthedocs.io/en/latest/

lang en_US.UTF-8
keyboard 'us'
rootpw INSERTPASSWORDHERE --plaintext
auth --enableshadow --passalgo=sha512
# Custom user
user --name=INSERTUSERHERE --groups=users,wheel --password=INSERTPASSWORDHERE --plaintext
timezone America/New_York --utc
install
cdrom
network --bootproto=dhcp --hostname INSERTHOSTNAMENAMEHERE
firewall --disabled
sshkey --username=root "INSERTSSHKEYHERE"
sshkey --username=INSERTUSERHERE "INSERTSSHKEYHERE"

# Partitioning
bootloader --location=mbr
zerombr
clearpart --all --initlabel
reqpart
part / --fstype ext4 --grow

reboot

%packages
@core
curl
bzip2
kernel-headers
make
net-tools
sudo
tar
wget
nfs-utils
%end

%post
# Post setup tasks here
%end
