# https://docs.fedoraproject.org/en-US/Fedora/25/html/Installation_Guide/chap-kickstart-installations.html#sect-kickstart-howto
# https://pykickstart.readthedocs.io/en/latest/

lang en_US.UTF-8
keyboard 'us'
rootpw INSERTPASSWORDHERE --plaintext
auth --enableshadow --passalgo=sha512
# Custom user
user --name=INSERTUSERHERE --groups=users,wheel --password=INSERTPASSWORDHERE --plaintext
timezone America/New_York --utc
install
cdrom
network --bootproto=dhcp --hostname INSERTHOSTNAMENAMEHERE
firewall --disabled

# Partitioning
bootloader --location=mbr
zerombr
clearpart --all --initlabel
part /boot --fstype ext4 --size=200
part pv.01 --size 1 --grow
volgroup vg0 pv.01
logvol swap --fstype swap --name=swap --vgname=vg0 --size 2048
logvol / --fstype ext4 --name=root --vgname=vg0 --percent=100

reboot

%packages
@core
curl
bzip2
kernel-headers
make
net-tools
perl
sudo
tar
wget
nfs-utils
%end

%post
# Post setup tasks here
%end
